/* header.scss */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 768px;
    z-index: 9999;
    background: #fff;

    & > div {
        padding: 32px 4.44% 8px;
        width: 100%;
        @include flex;
    }
    
    h2 {
        width: calc(100% - 120px);
        font-size: 1.8rem;
        line-height: 4rem;
        font-weight: 600;
    }

    button {
        width: 40px;
        height: 40px;
        background-size: contain;
        background-position: center;
    }
    .btn-back {
        background: url(#{$img-path}/ic_back.svg) no-repeat;
    }
    .btn-home {
        background: url(#{$img-path}/ic_home.svg) no-repeat;
    }
    .btn-menu {
        background: url(#{$img-path}/ic_menu.svg) no-repeat;
    }
}
.header + * {
    margin-top: 80px;
}

@media screen and (min-width: 768px) {
    .header {
        left: calc((100% - 768px)/2);
    }
}
