/* mixin */
@mixin clear {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .box-left {
        float: left;
    }
    .box-right {
        float: right;
    }
}
@mixin flex {
    display: flex;
    flex-wrap: wrap;
    // @include clear;
}

    //말줄임표
@mixin txtElpsisOne { //한줄
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin txtElpsis { //두줄
    @include txtElpsisOne;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@mixin formSearch {
    padding: 4px 12px;
    font-size: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;

    &::placeholder {
        color: #ccc;
        font-weight: 300;
    }
    &:focus {
        color: #000;
        font-weight: 400;
        border: 1px solid #000;
    }
    // IE의 경우
    &::-ms-clear,
    &::-ms-reveal {
        opacity: 1;
        position: absolute;
        right: 15px;
    }
    // 크롬의 경우
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration{
        opacity: 1;
        position: absolute;
        right: 15px;
    }
    // 사파리
    -webkit-appearance: searchfield;
}
*::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

$scroll-d: #ddd;
$scroll-e: #eee;
@mixin scroll-bar {
    $body-scroll: 6px;
    scrollbar-3dLight-Color: $scroll-d;
    scrollbar-arrow-color: $scroll-d;
    scrollbar-base-color: $scroll-e;
    scrollbar-Face-Color: $scroll-d;
    scrollbar-Track-Color: $scroll-e;
    scrollbar-DarkShadow-Color: $scroll-d;
    scrollbar-Highlight-Color: $scroll-d;
    scrollbar-Shadow-Color: $scroll-d;
    &::-webkit-scrollbar {
        width: $body-scroll;
        height: $body-scroll;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $scroll-d;
        border-radius: $body-scroll;
    }
    &::-webkit-scrollbar-track {
        background-color: $scroll-e;
        width: $body-scroll;
        height: $body-scroll;
        border-radius: $body-scroll;
    }
}
