/* exhibition 전시안내 style */

.wrap.exhi {
    height: 100vh;
    background: url(#{$img-path}/bg-exhibition.jpg) no-repeat;
    background-size: 2048px 1024px;
    background-position: center top;

    .slide-wrap {
        @include clear;
        margin: 180px auto 0;
        width: 1690px;
        overflow: hidden;

        li {
            position: relative;
            float: left;
            margin-right: 150px;
            width: 463px;
            text-align: center;
            &:last-child {
                margin-right: 0;
            }
        }

        .place {
            position: absolute;
            z-index: 100;
            top: 10px;
            left: 0;
            width: 100%;
            
            span {
                display: inline-block;
                padding: 10px 30px 5px;
                font-size: 3.3rem;
                line-height: 1.2;
                color: #fff;
                border-radius: 30px;
            }
        }
        .img-box {
            position: relative;
            height: 520px;
            overflow: hidden;
            background: #eee;

            div {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                -webkit-transform: translate(50%,50%);
                -ms-transform: translate(50%,50%);
                transform: translate(50%,50%);
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                // max-width: 150%;
                width: 100%;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
            }
        }
        .txt-box {
            padding-bottom: 15px;
            height: 230px;
            font-size: 3.3rem;
            font-weight: 700;
            background-color: #fff;
            p {
                padding: 0 15px;
                @include txtElpsis(2);
            }
        }
        .area {
            display: block;
            // margin-bottom: 20px;
            padding: 10px 20px 7px;
            height: 60px;
            font-weight: 400;
            color: #fff;
            span {
                display: inline-block;
                vertical-align: baseline;
                white-space: nowrap;
            }
        }
        .date {
            display: block;
            margin-bottom: 20px;
            padding: 18px 20px 12px;
            height: 60px;
            font-size: 2.5rem;
            font-weight: 400;
        }
        
        .marquee {
            width: 100%;
            vertical-align: -webkit-baseline-middle;
            overflow: hidden;
        }

        li.p1 {
            color: #0947ba;
            .place span,
            .area {
                background-color: #0947ba;
            }
            .date {
                background-color: rgba(9, 71, 186, 0.2);
            }
        }
        li.p2 {
            color: #ff6000;
            .place span,
            .area {
                background-color: #ff6000;
            }
            .date {
                background-color: rgba(255, 96, 0, 0.2);
            }
        }
        li.pBoth {
            color: #1d8700;
            .place span,
            .area {
                background-color: #219a00;
            }
            .date {
                color: #219a00;
                background-color:  rgba(33, 154, 0, 0.2);
            }
        }
    }
}
