@charset "UTF-8";
/* base.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

i,
img,
span {
  border: 0;
}

img,
video,
embed {
  max-width: 100%;
  backface-visibility: none;
}

ul,
li {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption {
  display: none;
}

fieldset {
  border: 0 none;
}

legend {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
}

select {
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

textarea {
  outline: none;
}

button {
  overflow: visible;
  border: none;
  background: none;
  background: transparent;
  font-family: inherit;
  white-space: nowrap;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

input,
select,
button {
  display: inline-block;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: 0.3s;
}

a {
  text-decoration: none;
  border: none;
  outline: none;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

/* typo */
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src:
    url(/fonts/Pretendard/Pretendard-Light.woff) format("woff"),
    url(/fonts/Pretendard/Pretendard-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src:
    url(/fonts/Pretendard/Pretendard-Regular.woff) format("woff"),
    url(/fonts/Pretendard/Pretendard-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src:
    url(/fonts/Pretendard/Pretendard-SemiBold.woff) format("woff"),
    url(/fonts/Pretendard/Pretendard-SemiBold.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src:
    url(/fonts/Pretendard/Pretendard-Bold.woff) format("woff"),
    url(/fonts/Pretendard/Pretendard-Bold.woff2) format("woff2");
}
/* mixin */
*::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

/* 공통사항 */
html,
body {
  font-family: "Pretendard", "Malgun Gothic", "sans-serif", "Arial";
  font-size: 0.625em;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
  margin: 0 auto;
  max-width: 768px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

section.content {
  padding-bottom: 40px;
}

/* header.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 768px;
  z-index: 9999;
  background: #fff;
}
.header > div {
  padding: 32px 4.44% 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.header h2 {
  width: calc(100% - 120px);
  font-size: 1.8rem;
  line-height: 4rem;
  font-weight: 600;
}
.header button {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
}
.header .btn-back {
  background: url(/images/ic_back.svg) no-repeat;
}
.header .btn-home {
  background: url(/images/ic_home.svg) no-repeat;
}
.header .btn-menu {
  background: url(/images/ic_menu.svg) no-repeat;
}

.header + * {
  margin-top: 80px;
}

@media screen and (min-width: 768px) {
  .header {
    left: calc((100% - 768px) / 2);
  }
}
/* search.scss */
.form-search {
  position: relative;
  padding: 20px 5.556% 0;
  width: 100%;
}
.form-search input {
  width: 100%;
  height: 48px;
  padding: 4px 12px;
  font-size: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  -webkit-appearance: searchfield;
}
.form-search input::placeholder {
  color: #ccc;
  font-weight: 300;
}
.form-search input:focus {
  color: #000;
  font-weight: 400;
  border: 1px solid #000;
}
.form-search input::-ms-clear,
.form-search input::-ms-reveal {
  opacity: 1;
  position: absolute;
  right: 15px;
}
.form-search input::-webkit-search-decoration,
.form-search input::-webkit-search-cancel-button,
.form-search input::-webkit-search-results-button,
.form-search input::-webkit-search-results-decoration {
  opacity: 1;
  position: absolute;
  right: 15px;
}
.form-search input[type="button"] {
  color: #ccc;
}
.form-search .btn-search {
  position: absolute;
  z-index: 1;
  right: calc(5.556% + 8px);
  bottom: 8px;
  width: 32px;
  height: 32px;
  background: #fff url(/images/ic_search.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.form-search input:focus + .btn-search {
  z-index: -1;
}
.form-search input:focus + .btn-search + .btn-delete {
  z-index: 1;
}
.form-search .btn-delete {
  position: absolute;
  bottom: 4px;
  right: calc(5.556% + 4px);
  width: 40px;
  height: 40px;
  background: url(/images/ic_delete.svg) no-repeat;
  background-size: contain;
  cursor: pointer;
  pointer-events: none;
}

.ip-srchForm {
  text-align: left;
  background: #fff url(/images/ic_search.svg) no-repeat;
  background-size: 32px;
  background-position: calc(100% - 8px) center;
}

.list-search .noSearch {
  text-align: center;
}
.list-search .noSearch img {
  margin-top: 28%;
  width: 96px;
  height: 96px;
}
.list-search .noSearch p {
  margin-top: 30px;
  font-size: 1.5rem;
  color: #999;
}
.list-search ul {
  padding: 20px 5.556% 0;
}
.list-search ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 8px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.list-search ul li:last-child {
  margin-bottom: 0;
}
.list-search ul .text-box {
  width: calc(100% - 62px);
  border-right: 1px solid #ddd;
}
.list-search ul .link-box {
  width: 62px;
}
.list-search ul button {
  margin-left: 16px;
  font-size: 1.3rem;
  color: #333;
}
.list-search ul button span {
  display: block;
  margin: 0 auto 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f7f7f7 url(/images/ic_location.svg) no-repeat;
  background-size: 20px;
  background-position: center;
}
.list-search .text-box .tag {
  display: inline-block;
  padding: 4px;
  width: 38px;
  font-size: 1.3rem;
  line-height: 1.4rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  background-color: #8eccb5;
}
.list-search .text-box .area {
  margin-left: 8px;
  font-size: 1.3rem;
  color: #999;
  vertical-align: middle;
}
.list-search .text-box p {
  margin: 8px 0 4px;
  font-size: 1.5rem;
  font-weight: 600;
}
.list-search .text-box i {
  font-size: 1.3rem;
  color: #999;
  font-style: normal;
}

/* main.scss */
.list-floor {
  margin: 32px 5.556% 48px;
}
.list-floor li {
  margin-bottom: 8px;
  padding: 16px;
  height: 56px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.list-floor li:after {
  content: "";
  display: block;
  clear: both;
}
.list-floor li .box-left {
  float: left;
}
.list-floor li .box-right {
  float: right;
}
.list-floor li:last-child {
  margin-bottom: 0;
}
.list-floor li p {
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 600;
  text-align: center;
}
.list-floor li .ic_arrow_right {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/images/ic_arrow_s.svg) no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: bottom;
}

.btn-popup.twinIntro {
  margin: 0px 5.556%;
  width: 88.888%;
  height: 56px;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  background-color: #6bbfa7;
  border-radius: 8px;
}

.info-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 24px 5.556% 0px;
  padding: 20px 16px;
  width: 88.888%;
  background-color: #f5f5f5;
  border-radius: 12px;
}
.info-box .ic_barrier {
  display: block;
  margin-right: 12px;
  width: 40px;
  height: 40px;
  background: url(/images/ic_barrier.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.info-box .text-box {
  width: calc(100% - 52px);
}
.info-box .text-box b {
  font-size: 1.5rem;
  font-weight: 600;
}
.info-box .text-box p {
  margin-top: 4px;
  font-size: 1.3rem;
  word-break: keep-all;
}

/* list.scss */
.floor-menu {
  height: 53px;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-bottom: 1px solid #ddd;
}
.floor-menu::-webkit-scrollbar {
  display: none;
}
.floor-menu ul {
  width: max-content;
  padding: 0 5.556%;
}
.floor-menu ul:after {
  content: "";
  display: block;
  clear: both;
}
.floor-menu ul .box-left {
  float: left;
}
.floor-menu ul .box-right {
  float: right;
}
.floor-menu li {
  float: left;
  position: relative;
  padding: 19px 20px 16px;
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
}
.floor-menu li.active {
  color: #6bbfa7;
  font-weight: 700;
}
.floor-menu li.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  z-index: 1;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #6bbfa7;
}

.area-menu {
  padding: 12px 5.556% 16px;
  background: #fafafa;
}
.area-menu table {
  width: 100%;
}
.area-menu table tr {
  text-align: center;
  background: #fff;
}
.area-menu table td {
  padding: 15px 0;
  font-size: 1.3rem;
  color: #aaa;
  border: 1px solid #ddd;
}
.area-menu table td:not(:first-child) {
  border-left: 0;
}
.area-menu table td.on {
  color: #fff;
  font-weight: 600;
  background-color: #6bbfa7;
  border: 1px solid #6bbfa7;
}

.tab-wrap .tab {
  display: none;
  padding: 16px 5.556% 0;
}
.tab-wrap .tab.view {
  display: block;
}

.map-box img {
  width: 100%;
}

.map-box.list {
  margin-bottom: 40px;
}

.list-store ul {
  margin-top: 12px;
}
.list-store ul .noData {
  margin: 20px 0;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  color: #aaa;
}
.list-store li {
  margin-bottom: 8px;
  padding: 19px 16px;
  height: 56px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
}
.list-store li:after {
  content: "";
  display: block;
  clear: both;
}
.list-store li .box-left {
  float: left;
}
.list-store li .box-right {
  float: right;
}
.list-store li b {
  font-size: 1.5rem;
  font-weight: 400;
}
.list-store li div {
  float: right;
  padding-left: 16px;
  border-left: 1px solid #ddd;
}
.list-store li .ic_phone {
  margin-right: 8px;
}

/* map.scss */
.map-box.detail {
  position: relative;
}
.map-box.detail .btn-location {
  position: absolute;
  top: 24%;
  left: 30%;
  width: 36px;
  height: 36px;
  background: url(/images/ic_location_color.svg) no-repeat;
}
.map-box.detail .map-area {
  height: calc(100vh - 279px);
  overflow: hidden;
}
.map-box.detail .aside {
  position: absolute;
  top: 16px;
  z-index: 900;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  transition: 0.3s;
}
.map-box.detail .aside .btn-close {
  display: none;
  float: right;
  position: unset;
  width: 20px;
  height: 20px;
}
.map-box.detail .aside img {
  display: none;
}
.map-box.detail .aside .btn-aside {
  padding: 8px 16px;
  height: 32px;
  font-size: 1.3rem;
  font-weight: 600;
}
.map-box.detail .aside.on {
  padding: 8px 8px 8px;
  border-radius: 10px;
  z-index: 901;
}
.map-box.detail .aside.on .btn-aside {
  padding: 0px;
  height: auto;
}
.map-box.detail .aside.on .btn-tit {
  padding: 0;
}
.map-box.detail .aside.on .btn-close {
  display: block;
}
.map-box.detail .miniMap {
  left: 5.556%;
  background-color: #fafafa;
}
.map-box.detail .miniMap.on {
  padding-right: 4px;
}
.map-box.detail .miniMap.on:after {
  content: "";
  display: block;
  clear: both;
}
.map-box.detail .miniMap.on .box-left {
  float: left;
}
.map-box.detail .miniMap.on .box-right {
  float: right;
}
.map-box.detail .miniMap.on .btn-tit {
  display: none;
}
.map-box.detail .miniMap.on .btn-aside {
  display: none;
}
.map-box.detail .miniMap.on img {
  display: block;
  float: left;
  width: calc(100% - 24px);
  max-width: 158px;
}
.map-box.detail .miniMap.on .btn-close {
  float: right;
  margin-left: 4px;
}
.map-box.detail .legend {
  transform-origin: right;
  right: 5.556%;
}
.map-box.detail .legend .btn-close {
  background: url(/images/ic_tipclose-b.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.map-box.detail .legend ul {
  margin-top: 12px;
  display: none;
}
.map-box.detail .legend ul li {
  margin-bottom: 4px;
  font-size: 1.2rem;
}
.map-box.detail .legend ul img {
  display: inline-block;
  margin-right: 4px;
  width: 18px;
}
.map-box.detail .legend.on ul {
  display: block;
}

.aside-infowrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.aside-infowrap .btn-close {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 32px;
  height: 32px;
}
.aside-infowrap h3 {
  padding: 16px 16px 8px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.2rem;
}
.aside-infowrap > div {
  padding: 8px 20px 40px;
  max-height: 560px;
  overflow: auto;
}
.aside-infowrap > div:after {
  content: "";
  display: block;
  clear: both;
}
.aside-infowrap > div .box-left {
  float: left;
}
.aside-infowrap > div .box-right {
  float: right;
}
.aside-infowrap .profile-box {
  float: left;
  padding: 4px;
  width: 80px;
  height: 80px;
  text-align: center;
  background: #eee;
  border-radius: 4px;
}
.aside-infowrap .profile-box img {
  width: 100%;
}
.aside-infowrap .text-box {
  float: left;
  padding-left: 16px;
  width: calc(100% - 80px);
}
.aside-infowrap .text-box li {
  margin-bottom: 8px;
}
.aside-infowrap .text-box li:after {
  content: "";
  display: block;
  clear: both;
}
.aside-infowrap .text-box li .box-left {
  float: left;
}
.aside-infowrap .text-box li .box-right {
  float: right;
}
.aside-infowrap .text-box li:last-child {
  margin-bottom: 0;
}
.aside-infowrap .text-box i {
  float: left;
}
.aside-infowrap .text-box p {
  float: left;
  display: inline-block;
  margin-left: 4px;
  font-size: 1.3rem;
  line-height: 2rem;
}
.aside-infowrap .text-box .ic_note + p {
  width: calc(100% - 24px);
}

.ic_phone {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(/images/ic_phone.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.ic_location {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(/images/ic_location.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.ic_note {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(/images/ic_note.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .aside-infowrap {
    left: calc((100% - 768px) / 2);
    width: 768px;
  }
}
/* popup.scss */
.popup-wrap {
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.popup-wrap.on {
  display: block;
}

.btn-close {
  position: absolute;
  background: url(/images/ic_close.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.popup-layer {
  position: absolute;
  top: 15%;
  left: 11.1111%;
  padding: 32px 0px 0px;
  width: 77.7778%;
  height: 70%;
  max-height: 600px;
  background: #fff;
  border-radius: 10px;
}
.popup-layer h3 {
  margin: 0 20px 16px;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 600;
}
.popup-layer .pop-cont {
  height: calc(100% - 93px);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3;
}
.popup-layer .pop-cont div {
  padding: 0px 20px;
  height: 100%;
  overflow: auto;
  scrollbar-3dlight-color: #ddd;
  scrollbar-arrow-color: #ddd;
  scrollbar-base-color: #eee;
  scrollbar-face-color: #ddd;
  scrollbar-track-color: #eee;
  scrollbar-darkshadow-color: #ddd;
  scrollbar-highlight-color: #ddd;
  scrollbar-shadow-color: #ddd;
}
.popup-layer .pop-cont div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.popup-layer .pop-cont div::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 6px;
}
.popup-layer .pop-cont div::-webkit-scrollbar-track {
  background-color: #eee;
  width: 6px;
  height: 6px;
  border-radius: 6px;
}
.popup-layer .pop-cont img {
  width: 100%;
}
.popup-layer .btn-ok {
  position: absolute;
  width: 100%;
  height: 55px;
  font-size: 1.5rem;
  font-weight: 600;
  border-top: 1px solid #ddd;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .popup-layer {
    left: calc((100% - 500px) / 2);
    width: 500px;
  }
} /*# sourceMappingURL=style.css.map */
