/* list.scss */
// floor-menu 층 메뉴
.floor-menu {
    height: 53px;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {display: none;}
    border-bottom: 1px solid #ddd;

    ul {
        @include clear;
        width: max-content;
        padding: 0 $sidePadding;
    }
    li {
        float: left;
        position: relative;
        padding: 19px 20px 16px;
        font-size: 1.5rem;
        color: #999;
        cursor: pointer;

        &.active {
            color: #6BBFA7;
            font-weight: 700;
            
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 1px;
                z-index: 1;
                display: block;
                width: 100%;
                height: 3px;
                background-color: #6BBFA7;
            }
        }
    }
}

// area-menu 관 메뉴
.area-menu {
    padding: 12px $sidePadding 16px;
    background: #fafafa;
    table {
        width: 100%;

        tr {
            text-align: center;
            background: #fff;
        }
        td {
            padding: 15px 0;
            font-size: 1.3rem;
            color: #aaa;
            border: 1px solid #ddd;
            &:not(:first-child) {
                border-left: 0;
            }
        }
        td.on {
            color: #fff;
            font-weight: 600;
            background-color: #6BBFA7;
            border: 1px solid #6BBFA7;
        }
    }
}

// tab-wrap 탭 콘텐츠
.tab-wrap {
    .tab {
        display: none;
        padding: 16px $sidePadding 0;
        &.view {
            display: block;
        }
    }
}

// 지도 영역 디자인 기본
.map-box {
    
    img {
        width: 100%;
    }

    // .aside {
    //     position: absolute;
    //     top: 16px;
    //     z-index: 900;
    //     border: 1px solid #ddd;
    //     border-radius: 5px;
    //     background: #fff;
    //     transition: .3s;
    //     .btn-close {
    //         display: none;
    //         float: right;
    //         position: unset;
    //         width: 20px;
    //         height: 20px;
    //     }
    //     img {
    //         display: none;
    //     }
    //     .btn-aside {
    //         padding: 8px 16px;
    //         height: 32px;
    //         font-size: 1.3rem;
    //         // line-height: 2rem;
    //         font-weight: 600;
    //     }

    //     &.on {
    //         padding: 8px 8px 8px;
    //         border-radius: 10px;
    //         z-index: 901;

    //         .btn-aside {
    //             padding: 0px;
    //             height: auto;
    //         }
    //         .btn-tit {
    //             padding: 0;
    //         }
    //         .btn-close {
    //             display: block;
    //         }
    //     }
    // }
    // .miniMap {
    //     left: $sidePadding;
    //     &.on {
    //         @include clear;
    //         .btn-tit {
    //             display: none;
    //         }
    //         .btn-aside {
    //             display: none;
    //         }
    //         img {
    //             display: block;
    //             float: left;
    //             width: calc(100% - 24px);
    //         }
    //         .btn-close {
    //             float: right;
    //             margin-left: 4px;
    //         }
    //     }
    // }
    // .legend {
    //     right: $sidePadding;
        
    //     ul {
    //         margin-top: 12px;
    //         display: none;
    //         li {
    //             margin-bottom: 4px;
    //             font-size: 1.2rem;
    //         }
    //         img {
    //             display: inline-block;
    //             margin-right: 4px;
    //             width: 18px;
    //         }
    //     }
    //     &.on {
    //         ul {
    //             display: block;
    //         }
    //     }
    // }
}

// 지도영역 BD-list.html
.map-box.list {
    margin-bottom: 40px;
}

// 층별 건물 안내
.list-store {
    ul {
        margin-top: 12px;
        .noData {
            margin: 20px 0;
            font-size: 1.3rem;
            font-weight: 300;
            text-align: center;
            color: #aaa;
        }
    }

    li {
        @include clear;
        margin-bottom: 8px;
        padding: 19px 16px;
        height: 56px;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #ddd;
        // box-shadow: 0 0 5px rgba(0,0,0, 0.1);
        b {
            font-size: 1.5rem;
            font-weight: 400;
        }
        div {
            float: right;
            padding-left: 16px;
            border-left: 1px solid #ddd;
        }
        .ic_phone {
            margin-right: 8px;
        }
    }
}

// 지도영역 확대 페이지 BD-mapView.html
// .map-box.view {
//     .map-area {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         height: calc(100vh - 202px);
//     }
// }