/* base.scss */
* {
    margin:0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    text-decoration:none;
    list-style:none;
    vertical-align: middle;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}
html, body {
    width:100%;
    min-height: 100vh;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
}
i, img, span {
    border:0;
}
img, video, embed {
    max-width: 100%;
    backface-visibility: none;
}
ul, li {
    list-style: none;
}
table {
    border-collapse:separate;
    border-spacing: 0;
}
caption {
    display:none;
}
fieldset {
    border:0 none;
}
legend {
    width:0;
    height:0;
    overflow:hidden;
    visibility:hidden;
    font-size:0;
}
select {
    cursor: pointer;
    &::-ms-expand {
        display:none;
    }
}
textarea {
    outline:none;
}
button {
    overflow:visible;
    border:none;
    background:none;
    background:transparent;
    font-family:inherit;
    white-space:nowrap;
    text-decoration:none;
    outline: none;
    cursor: pointer;
    transition:.3s;
}
// input::-ms-check{
//     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//     opacity:0;
// }
input, select, button {
    display: inline-block;
    outline:none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition:.3s;
}
a {
    text-decoration:none;
    border:none;
    outline: none;
    color: #000;
    cursor: pointer;
    transition:.3s;
}
